{% extends "base.html" %}
{% block content %}
<div class="container-fluid container-log">
	{% include 'messages.html' %}
	<div class="panel panel-log panel-default">
		<div class="panel-heading">LogView</div>
		<div class="panel-body panel-body-log">
			<div id='log' >Connecting...
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect(window.location.protocol + "//" + document.domain + ':' + location.port);
    var div = document.getElementById('log');
    socket.on('connect', function() {
    	div.innerHTML = '';
    });
    
    socket.on('message', function (msg) {
    	// Append message text to log panel
    	var p = document.createElement("p");
    	var txt = document.createTextNode(msg);
    	p.appendChild(txt);
    	var autoscroll;
    	// Test for scroll bar at bottom position
    	if (div.scrollHeight - (div.scrollTop + div.clientHeight) < 15) {
    		autoscroll = true;
    	}
    	div.appendChild(p);
    	// Limit display lines to 500
    	while (div.childElementCount >= 500) {
    		// Remove an element and tweak scroll height to keep stationary
    		div.removeChild(div.childNodes[0]);
    		div.scrollTop -= div.childNodes[0].clientHeight;
    	}
    	if (autoscroll) {
    		div.scrollTop = div.scrollHeight;
    	}
    });
</script>

{% endblock %}
